* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #00C044;
    
}

html {
    background-color: #1D1F21;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 65%;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;

}

.center {
    text-align: center;
    margin: 0 auto;
}

.center > * {
    margin-bottom: 20px;
}


.container img {
    width: 40%;
}

a {
    display: block;
    background-color: #3F034A;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
}

